.mainAppContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;

}

.bottomStuff {
    display: flex;
}

.content {
    flex: 4;
}

@media (max-width: 1550px) {
    .content {
        flex: 3;
    }
}

@media (max-width: 1450px) {
    .content {
        flex: 2;
    }
}

@media (max-width: 1350px) {
    .content {
        flex: 1;
    }
}