.feed {
    flex: 5;
    overflow-y: visible;
    position: relative;
    overflow-y: scroll;
    height: 100%;
    padding: 1em;
}

.feedWrapper{
    min-height: fit-content;
}

.sizerLol{
    height: 100px;
}