.post {
    display: flex;
    background-color: white;
    border: 1px solid #e7e7e7;
    height: 10em;
    box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.post:hover {
    cursor: pointer;
    box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.25);
}

.postWrapper {
    display: flex;
}

.friendpostleftSide {
    padding: 1em;
    width: max-content;
    max-width: 40em;
}

.postTop {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.postAvatar {
    height: 3.5em;
    width: 3.5em;
    object-fit: cover;
    border-radius: 50%;
}

.postImg {
    height: 10em;
    width: 10em;
}

.PostName {
    font-weight: bold;
    transition: 0ms !important;
}

.PostTime {
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
    color: gray;
    transition: 0ms !important;
}

.postBody {
    padding: 1em 0em;
    word-wrap: normal;
    transition: 0ms !important;
}

.loadingWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0em 5em;
}

.deletePost {
    background-color: rgb(200, 164, 164);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 0.25em;
}

.deletePost:hover {
    background-color: brown;
}