.post {
    display: flex;
    background-color: white;
    border: 1px solid #e7e7e7;
    height: 10em;
}

.postWrapper {
    display: flex;
}

.friendpostleftSide {
    padding: 1em;
    width: max-content;
    max-width: 40em;
}

.postTop {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.postAvatar {
    height: 3.5em;
    width: 3.5em;
    object-fit: cover;
    border-radius: 50%;
}

.postImg {
    height: 10em;
    width: 10em;
}

.PostName {
    font-weight: bold;
    transition: 0ms !important;
}

.PostTime {
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
    color: gray;
    transition: 0ms !important;
}

.postBody {
    padding: 1em 0em;
    word-wrap: normal;
    transition: 0ms !important;
}