.sidebar {
    position: relative;
    flex: 1;
    flex-shrink: 0;
    padding: 1em;
}

.friendsContainer {
    height: 77.5vh;
    border: 1px solid #e7e7e7;
    box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 11px 12px -8px rgba(0, 0, 0, 0.1);
}

.noFriends {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 66vh;
    background-color: white;
    color: gray;
    font-weight: bold;
    padding: 1em;
}

.friendsContainerHeader {
    padding: 1em;
    height: 4vh;
    border: 1px solid #e7e7e7;
    background-color: #F8F8F8;
}

.friendsListHeading {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    font-weight: 700;
    font-size: 1.1em;
}

.friendsListSubHeading {
    font-weight: 600;
    font-size: 0.9em;
    color: rgb(159, 159, 159);
}

::-webkit-scrollbar {
    background-color: gray;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.friendsListViewPort {
    height: 70vh;
    overflow-y: scroll;
}

.houseKeepingInfo {
    font-size: 0.75em;
    padding: 0.65em;
    font-weight: 700;
    color: rgb(164, 164, 164);
}

.houseKeepingIcon {
    color: rgb(149, 148, 148);
    height: 0.8em;
    width: 0.8em;
}

.houseKeepingIcons {
    display: flex;
    gap: 1em;
}

a {
    color: rgb(164, 164, 164);
}