.share {
    width: 100%;
    height: 13em;
    display: flex;
    background-color: white;
    border: 1px solid #e7e7e7;
    margin: 1em 0em;
    overflow: hidden;
    justify-content: space-between;
}

.shareAnUpdate {
    font-weight: bold;
    font-size: 1.2em;
    color: gray;
    margin-bottom: 1em;
}

.shareWrapperRight {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 1em;
    background-color: white;
    gap: 1em;
}

.uploadimg {
    height: 10em;
    width: 10em;
}

.shareWrapperLeft {
    display: flex;
    flex-direction: column;

}

.uploadbutton {
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 0em;
    font-weight: 700;
}

.uploadbutton:hover {
    background-color: indigo;
    border-color: indigo;
    color: white;
    cursor: pointer;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.shareInput {
    border: none;
    width: 80%;
    font-size: 20px;
    font-weight: 300;

}

.shareInput:focus {
    outline: none;

}