.writeLetterC {
    padding: 1em;
}

.FPBottomVP {
    padding: 1em;
    display: flex;
    justify-content: center;
    height: 70vh;
    overflow-y: scroll;
}

.FPBottom {
    width: 50em;
}

.ql-editor {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    border: none;
    background-color: white;
    min-height: 20em !important;
}

.ql-container {
    border: 1px solid #e7e7e7 !important;
    min-height: 20em !important;
}

.ql-snow {
    border: 1px solid #e7e7e7 !important;
}

.FPBottomVP {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
}

.floating-action-button:disabled{
    background-color: rgb(156, 154, 154);
    color: rgb(98, 98, 98);
    cursor: auto;
}

.letterCount-low{
    font-weight: 700;
    color: brown;
}
.letterCount-ok{
    font-weight: 700;
    color: green;
}